{% extends 'base.html' %}

{% block title %}Experience{% endblock %}

{% block content %}
<h1 class="mb-4">Experience</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">QA Engineer</h5>
                <h6 class="card-subtitle mb-2 text-muted">Banco de Brasília - BRB (Dec 2021 - Present)</h6>
                <p class="card-text">Analyze requirements for web systems, test integrations, and debug issues using Selenium and Cypress.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Systems Development Specialist</h5>
                <h6 class="card-subtitle mb-2 text-muted">SERPRO (Sep 2021 - Dec 2021)</h6>
                <p class="card-text">Analyzed requirements and created use case stories for system development.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
