{% extends 'base.html' %}

{% block title %}Skills{% endblock %}

{% block content %}
<h1 class="mb-4">Skills</h1>
<ul class="list-group">
    <li class="list-group-item">Extensive experience in quality assurance and web testing</li>
    <li class="list-group-item">Proficiency in Selenium, Cypress, Robot, and Python</li>
    <li class="list-group-item">In-depth understanding of system integration and debugging</li>
    <li class="list-group-item">Excellent communication and teamwork abilities</li>
    <li class="list-group-item">Strong problem-solving skills</li>
</ul>
{% endblock %}
